
<div class="container">
  <div class="jumbotron">
    <h1>Bienvenue</h1>
    <p>Le UAA Cuisine, recetario con la función principal de mostrar una imagen, ingredientes y procedimiento de las recetas.
      Algunas acciones están restringidas sólo para administradores, los usuarios normales solo pueden ver las recetas.</p>
    <%= image_tag "carolinda.PNG", style: "size=width: 200px; height: 200px;  border-radius: 50%;" %>
  </div>
</div>