<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span><a href="https://www.facebook.com/Soluciones-IO-132751777165468/">Soluciones i/o</a></span>Una empresa dedicada al diseño, desarrollo web, consultoria TIC, al igual que venta de microcontroladores y sensores para automatización de procesos.
    </p>
    <div class="icons">
      <a href="https://www.facebook.com/Zkywalker3030"><i class="fa fa-facebook"></i></a>
      <a href="https://github.com/LucNieto"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/lucio-nieto-bautista-387688125/"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.youtube.com/channel/UCAvZifaRCKlHNSbR0mvJNjw" ><i class="fa fa-youtube-play"></i></a>
      <a href="mailto:lucniba@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 servicios">
    <h3>Nuestros servicios: </h3>
    <ul class="fh5co-footer-links">
      <li>Diseño y desarrollo web</li>
      <li>Desarrollo de software</li>
      <li>Microcontroladores y sensores</li>
      <li>Ascesoria IT</li>
      <li>Domótica y automaización</li>
    </ul>
  </div>
  <div class="row copyright">
    <div class="col-md-12 text-center">
      <p>
        <small class="block">&copy; 2017 | Todos los derechos reservados.</small>
        <small class="block">Creado por <a href="https://www.facebook.com/Soluciones-IO-132751777165468/">Soluciones i/o</a></small>
      </p>
    </div>
  </div>
</footer>

